<footer>
    <div class="logo">
        <span style="color: #0f0; font-size: 45px; font-family: 'Leckerli One', 'Roboto', Helvetica, Arial, sans-serif;">Academy</span>
    </div>
    <address>
        <p>contato@academy.com.br</p>
    </address>
</footer>